# 03. Project Details

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
import yfinance as yF
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo o dataset

In [ ]:
df = yF.Ticker('BTC-USD').history(period='2y') # Armazenando o dataset pelo código do ticker e o período em uma variável

In [10]:
df.to_csv(consts.DATASET_RAW, index=False) # Salvando o dataset raw

In [3]:
display(df.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df.tail(3)) # Exibindo as 3 últimas linhas do dataset

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-25 00:00:00+00:00,16602.269531,16603.316406,16388.404297,16521.841797,18678255976,0.0,0.0
2022-11-26 00:00:00+00:00,16521.576172,16666.863281,16416.228516,16464.281250,18000008764,0.0,0.0
2022-11-27 00:00:00+00:00,16463.882812,16594.406250,16437.025391,16444.626953,20443898509,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-23 00:00:00+00:00,99006.742188,99014.679688,97232.890625,97777.281250,44414644677,0.0,0.0
2024-11-24 00:00:00+00:00,97778.093750,98647.179688,95788.078125,98013.820312,51712020623,0.0,0.0
2024-11-25 00:00:00+00:00,97939.476562,98803.601562,97028.695312,97551.781250,55868776448,0.0,0.0

### Visualizando a quantidade de linhas e colunas do dataset

In [4]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(732, 7)

### Visualizando os detalhes do dataset

In [5]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 732 entries, 2022-11-25 00:00:00+00:00 to 2024-11-25 00:00:00+00:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          732 non-null    float64
 1   High          732 non-null    float64
 2   Low           732 non-null    float64
 3   Close         732 non-null    float64
 4   Volume        732 non-null    int64
 5   Dividends     732 non-null    float64
 6   Stock Splits  732 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 45.8 KB

### Visualizando as estatísticas das colunas numéricas

In [6]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,732.00,732.00,732.00,732.00,732.00,732.00,732.00
mean,43308.49,44142.99,42553.25,43419.37,25491223965.21,0.00,0.00
std,19288.50,19759.97,18855.98,19367.50,16092750830.82,0.00,0.00
min,16217.64,16482.93,16054.53,16217.32,5331172801.00,0.00,0.00
25%,26968.98,27342.62,26670.99,26992.57,14639151070.75,0.00,0.00
50%,37593.58,37949.76,37043.31,37716.51,21286052702.50,0.00,0.00
75%,62542.79,63633.54,60887.62,62713.46,31819914929.25,0.00,0.00
max,99006.74,99655.50,97232.89,98997.66,133673285375.00,0.00,0.00

### Verificando as colunas com valores nulos

In [8]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

### Gerando um preview do dataset para um análise rápida

In [9]:
df.head(1000).to_csv(consts.DATASET_PREVIEW, index=False, sep=';') # Criando um arquivo em csv com as 1000 primeiras linhas com sep ; pro Excel ler melhor

### Gerando o relatório Profile Report

In [ ]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_0) # Salvando o profile report na pasta reports em formato html

### Conclusões obtidas no relatório e as próximas ações para tratar o dataset

- **Colunas que devem ser excluídas por valores únicos** 
    - ID
- **Colunas que devem ser excluídas por valores constantes** 
    - Z_CostContact
    - Z_Revenue
- **Colunas que devem ser excluídas por valores vazios** 
    - N/A
- **Colunas que devem ser excluídas por ter muitos valores vazios** 
    - N/A
- **Colunas que devem ser excluídas por informações redundantes** 
    - N/A
- **Colunas que devem ser excluídas por informações irrelevantes** 
    - N/A
- **Colunas que devem ser excluídas por textos livres** 
    - N/A
- **Colunas que devem ter valores nulos/vazios tratados** 
    - Income
- **Colunas que devem ter o tipo de dados corrigido** 
    - Dt_Customer
- **Colunas que devem ser convertidas de data para tempo/idade** 
    - Dt_Cusomer => Days_Since_Enrolled
    - Dt_Cusomer => Years_Since_Enrolled
    - Year_Birth => Age
- **Colunas que devem ter categorias mescladas** 
    - AgeGroup
    - Marital_Status
- **Colunas que devem ser unificadas**
    - Children => Kidhome e Teenhome
    - MntTotal => MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts e MntGoldProds
    - AcceptedCmpTotal => AcceptedCmp1, AcceptedCmp2, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5
    - NumTotalPurchases => NumWebPurchases, NumCatalogPurchases, NumStorePurchases
- **Colunas que devem ser derivadas de outras**
    - HasChildren => Children
    - MntRegularProd => MntTotal e MntGoldProds
    - HasAcceptedCmp => AcceptedCmpTotal
- **Colunas que devem ter valores outliers tratados** 
    - Age
    - Income
    - MntTotal
- **Colunas que devem ser excluídas após serem utilizadas como apoio** 
    - Dt_Cusomer
    - Year_Birth
    - Kidhome
    - Teenhome
    - MntWines
    - MntFruits
    - MntMeatProducts
    - MntFishProducts
    - MntSweetProducts
    - AcceptedCmp1
    - AcceptedCmp2
    - AcceptedCmp3
    - AcceptedCmp4
    - AcceptedCmp5
    - NumWebPurchases
    - NumCatalogPurchases
    - NumStorePurchases

### Analisando mais a fundo informações específicas de cada coluna

In [ ]:
display(df['Z_CostContact'].value_counts(normalize=True).map('{:.1%}'.format).sort_index()) # Verificando a distribuição de valores da coluna

In [ ]:
display(df['Z_Revenue'].value_counts(normalize=True).map('{:.1%}'.format).sort_index()) # Verificando a distribuição de valores da coluna

In [ ]:
(df['Z_Revenue'] == df['Z_CostContact']).value_counts(normalize=True).map('{:.1%}'.format).sort_index() # Verificando se as colunas são iguais

In [ ]:
df['Income'].isnull().sum() # Verificando os valores vazios da coluna