# 03. Project Details

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
import yfinance as yF
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo o dataset

In [2]:
df = yF.Ticker('VALE3.SA').history(period='1y') # Armazenando o dataset pelo código do ticker e o período em uma variável

In [3]:
pd.options.display.float_format = '{:.2f}'.format # Formatando os dados do dataset com 2 casas decimais

In [4]:
df.to_csv(consts.DATASET_RAW, index=True) # Salvando o dataset raw

In [5]:
display(df.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df.tail(3)) # Exibindo as 3 últimas linhas do dataset

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-29 00:00:00-03:00,68.15,68.34,67.14,67.83,15853100,0.00,0.00
2023-11-30 00:00:00-03:00,68.34,68.74,68.08,68.20,29712900,0.00,0.00
2023-12-01 00:00:00-03:00,69.01,69.70,68.72,69.46,25025200,0.00,0.00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-27 00:00:00-03:00,57.87,58.42,57.60,58.13,22121200,0.00,0.00
2024-11-28 00:00:00-03:00,57.90,58.80,57.27,57.53,20467000,0.00,0.00
2024-11-29 00:00:00-03:00,58.25,59.21,58.15,58.78,31023600,0.00,0.00

### Visualizando a quantidade de linhas e colunas do dataset

In [6]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(253, 7)

### Visualizando os detalhes do dataset

In [7]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2023-11-29 00:00:00-03:00 to 2024-11-29 00:00:00-03:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          253 non-null    float64
 1   High          253 non-null    float64
 2   Low           253 non-null    float64
 3   Close         253 non-null    float64
 4   Volume        253 non-null    int64
 5   Dividends     253 non-null    float64
 6   Stock Splits  253 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 15.8 KB

### Visualizando as estatísticas das colunas numéricas

In [8]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

        Open   High    Low  Close      Volume  Dividends  Stock Splits
count 253.00 253.00 253.00 253.00      253.00     253.00        253.00
mean   61.26  61.68  60.71  61.16 22909739.53       0.02          0.00
std     3.47   3.49   3.41   3.44 10237182.82       0.22          0.00
min    55.90  56.09  55.48  56.00        0.00       0.00          0.00
25%    58.71  59.02  58.16  58.69 16445800.00       0.00          0.00
50%    60.67  61.12  60.22  60.70 20553900.00       0.00          0.00
75%    62.50  62.99  62.09  62.48 26675400.00       0.00          0.00
max    71.66  72.21  70.97  71.47 72721200.00       2.74          0.00

### Verificando as colunas com valores nulos

In [9]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

### Gerando um preview do dataset para um análise rápida

In [10]:
df.head(1000).to_csv(consts.DATASET_PREVIEW, index=False, sep=';') # Criando um arquivo em csv com as 1000 primeiras linhas com sep ; pro Excel ler melhor

### Gerando o relatório Profile Report

In [11]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_0) # Salvando o profile report na pasta reports em formato html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Conclusões obtidas no relatório e as próximas ações para tratar o dataset

- **Colunas que devem ser excluídas por valores únicos** 
    - N/A
- **Colunas que devem ser excluídas por valores constantes** 
    - Stock Splits
- **Colunas que devem ser excluídas por valores vazios** 
    - N/A
- **Colunas que devem ser excluídas por ter muitos valores vazios** 
    - N/A
- **Colunas que devem ser excluídas por informações redundantes** 
    - N/A
- **Colunas que devem ser excluídas por informações irrelevantes** 
    - Dividends
- **Colunas que devem ser excluídas por textos livres** 
    - N/A
- **Colunas que devem ter valores nulos/vazios tratados** 
    - N/A
- **Colunas que devem ter o tipo de dados corrigido** 
    - N/A
- **Colunas que devem ser convertidas de data para tempo/idade** 
    - N/A
- **Colunas que devem ter categorias mescladas** 
    - N/A
- **Colunas que devem ser unificadas**
    - N/A
- **Colunas que devem ser derivadas de outras**
    - Daily Variation
- **Colunas que devem ter valores outliers tratados** 
    - N/A
- **Colunas que devem ser excluídas após serem utilizadas como apoio** 
    - N/A