# 03. Project Details

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
import yfinance as yF
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo o dataset

In [2]:
df = yF.Ticker('AAPL').history(period='1y') # Armazenando o dataset pelo código do ticker e o período em uma variável

In [3]:
pd.options.display.float_format = '{:.2f}'.format # Formatando os dados do dataset com 2 casas decimais

In [4]:
df.to_csv(consts.DATASET_RAW, index=True) # Salvando o dataset raw

In [5]:
display(df.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df.tail(3)) # Exibindo as 3 últimas linhas do dataset

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-27 00:00:00-05:00,188.99,189.74,187.98,188.86,40552600,0.00,0.00
2023-11-28 00:00:00-05:00,188.85,190.15,188.48,189.47,38415400,0.00,0.00
2023-11-29 00:00:00-05:00,189.97,191.15,188.05,188.45,43014200,0.00,0.00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-21 00:00:00-05:00,228.88,230.16,225.71,228.52,42108300,0.00,0.00
2024-11-22 00:00:00-05:00,228.06,230.72,228.06,229.87,38153300,0.00,0.00
2024-11-25 00:00:00-05:00,231.46,233.24,229.77,229.77,17970087,0.00,0.00

### Visualizando a quantidade de linhas e colunas do dataset

In [6]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(252, 7)

### Visualizando os detalhes do dataset

In [7]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2023-11-27 00:00:00-05:00 to 2024-11-25 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          252 non-null    float64
 1   High          252 non-null    float64
 2   Low           252 non-null    float64
 3   Close         252 non-null    float64
 4   Volume        252 non-null    int64
 5   Dividends     252 non-null    float64
 6   Stock Splits  252 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 15.8 KB

### Visualizando as estatísticas das colunas numéricas

In [8]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

        Open   High    Low  Close       Volume  Dividends  Stock Splits
count 252.00 252.00 252.00 252.00       252.00     252.00        252.00
mean  201.38 203.20 199.65 201.52  57426744.79       0.00          0.00
std    22.07  22.30  21.76  22.11  30421876.56       0.03          0.00
min   164.75 165.80 163.49 164.41  17970087.00       0.00          0.00
25%   182.99 184.60 181.68 183.45  42130350.00       0.00          0.00
50%   194.37 196.02 193.29 194.14  50135550.00       0.00          0.00
75%   224.32 226.03 222.53 224.24  63729825.00       0.00          0.00
max   235.95 237.23 234.19 236.22 318679900.00       0.25          0.00

### Verificando as colunas com valores nulos

In [9]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

### Gerando um preview do dataset para um análise rápida

In [10]:
df.head(1000).to_csv(consts.DATASET_PREVIEW, index=False, sep=';') # Criando um arquivo em csv com as 1000 primeiras linhas com sep ; pro Excel ler melhor

### Gerando o relatório Profile Report

In [11]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_0) # Salvando o profile report na pasta reports em formato html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Conclusões obtidas no relatório e as próximas ações para tratar o dataset

- **Colunas que devem ser excluídas por valores únicos** 
    - N/A
- **Colunas que devem ser excluídas por valores constantes** 
    - Stock Splits
- **Colunas que devem ser excluídas por valores vazios** 
    - N/A
- **Colunas que devem ser excluídas por ter muitos valores vazios** 
    - N/A
- **Colunas que devem ser excluídas por informações redundantes** 
    - N/A
- **Colunas que devem ser excluídas por informações irrelevantes** 
    - Dividends
- **Colunas que devem ser excluídas por textos livres** 
    - N/A
- **Colunas que devem ter valores nulos/vazios tratados** 
    - N/A
- **Colunas que devem ter o tipo de dados corrigido** 
    - N/A
- **Colunas que devem ser convertidas de data para tempo/idade** 
    - N/A
- **Colunas que devem ter categorias mescladas** 
    - N/A
- **Colunas que devem ser unificadas**
    - N/A
- **Colunas que devem ser derivadas de outras**
    - Daily Variation
- **Colunas que devem ter valores outliers tratados** 
    - N/A
- **Colunas que devem ser excluídas após serem utilizadas como apoio** 
    - N/A