# 04. Data Processing

### Importando as bibliotecas

In [1]:
import sys
import warnings
sys.path.append('..')
import pandas as pd
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import functions.fn_charts as fn_charts
import params.consts as consts

### Ignorando os warnings irrelevantes

Ignorando os warnings indevidos que apareceram devido a cópia de dataframes para fazer ajustes nos dados. 

Obs: na primeira vez que fiz o projeto não houve esses avisos não, mas agora melhorando alguns pontos apareceu do nada. Tentei retirar mas continua dando esses avisos.

In [2]:
warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning) # Ignorando os warnings do tipo SettingWithCopyWarning

### Armazenando o dataset em uma variável

In [3]:
df = pd.read_csv(consts.DATASET_RAW, parse_dates=True, index_col='Date') # Armazenando o dataset em uma variável

### Excluindo as colunas que contém valores únicos
- N/A

### Excluindo as colunas que contém valores constantes

In [4]:
df = df.drop([
    'Stock Splits',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas

### Excluindo as colunas que contém valores vazios
- N/A

### Excluindo as colunas que contém muitos valores vazios
- N/A

### Excluindo as colunas que contém informações redundantes
- N/A

### Excluindo as colunas que contém informações irrelevantes

In [5]:
df = df.drop([
    'Dividends',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas

### Excluindo as colunas que contém textos livres
- N/A

### Lendo o dataset tratado e visualizando o overview atual

In [6]:
pd.options.display.float_format = '{:.2f}'.format # Formatando os dados do dataset com 2 casas decimais

In [7]:
df # Exibindo o dataset

                           Open  High   Low  Close    Volume
Date
2023-11-29 00:00:00-03:00 68.15 68.34 67.14  67.83  15853100
2023-11-30 00:00:00-03:00 68.34 68.74 68.08  68.20  29712900
2023-12-01 00:00:00-03:00 69.01 69.70 68.72  69.46  25025200
2023-12-04 00:00:00-03:00 68.56 68.80 67.45  67.90  22402300
2023-12-05 00:00:00-03:00 67.62 67.75 66.98  67.27  25179500
...                         ...   ...   ...    ...       ...
2024-11-25 00:00:00-03:00 58.18 58.56 58.12  58.17  17444500
2024-11-26 00:00:00-03:00 58.29 58.49 57.15  57.43  21406600
2024-11-27 00:00:00-03:00 57.87 58.42 57.60  58.13  22121200
2024-11-28 00:00:00-03:00 57.90 58.80 57.27  57.53  20467000
2024-11-29 00:00:00-03:00 58.25 59.21 58.15  58.78  31015300

[253 rows x 5 columns]

In [8]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(253, 5)

In [9]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2023-11-29 00:00:00-03:00 to 2024-11-29 00:00:00-03:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    253 non-null    float64
 1   High    253 non-null    float64
 2   Low     253 non-null    float64
 3   Close   253 non-null    float64
 4   Volume  253 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.9 KB

In [10]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

        Open   High    Low  Close      Volume
count 253.00 253.00 253.00 253.00      253.00
mean   61.26  61.68  60.71  61.16 22909706.72
std     3.47   3.49   3.41   3.44 10237156.72
min    55.90  56.09  55.48  56.00        0.00
25%    58.71  59.02  58.16  58.69 16445800.00
50%    60.67  61.12  60.22  60.70 20553900.00
75%    62.50  62.99  62.09  62.48 26675400.00
max    71.66  72.21  70.97  71.47 72721200.00

In [11]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

### Corrigindo os tipos de dados das colunas
- N/A

### Criando colunas de tempo/idade
- N/A

### Mesclando colunas com muitas categorias
- N/A

### Unificando colunas semelhantes
- N/A

### Criando colunas derivadas de outras

In [12]:
retorno_diario = df['Close'].pct_change().dropna() # Criando um dataset com as variações diárias

retorno_diario.head() # Exibindo o dataset criado

Date
2023-11-30 00:00:00-03:00    0.01
2023-12-01 00:00:00-03:00    0.02
2023-12-04 00:00:00-03:00   -0.02
2023-12-05 00:00:00-03:00   -0.01
2023-12-06 00:00:00-03:00   -0.01
Name: Close, dtype: float64

In [13]:
df = pd.merge(df, retorno_diario, how='inner', on='Date') # Unificando o dataset original com o dataset com as variações diárias

df.columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'Daily Variation'] # Ajustando os nomes das colunas

df # Exibindo o dataset atualizado

                           Open  High   Low  Close    Volume  Daily Variation
Date
2023-11-30 00:00:00-03:00 68.34 68.74 68.08  68.20  29712900             0.01
2023-12-01 00:00:00-03:00 69.01 69.70 68.72  69.46  25025200             0.02
2023-12-04 00:00:00-03:00 68.56 68.80 67.45  67.90  22402300            -0.02
2023-12-05 00:00:00-03:00 67.62 67.75 66.98  67.27  25179500            -0.01
2023-12-06 00:00:00-03:00 67.87 68.26 66.60  66.83  20503900            -0.01
...                         ...   ...   ...    ...       ...              ...
2024-11-25 00:00:00-03:00 58.18 58.56 58.12  58.17  17444500            -0.00
2024-11-26 00:00:00-03:00 58.29 58.49 57.15  57.43  21406600            -0.01
2024-11-27 00:00:00-03:00 57.87 58.42 57.60  58.13  22121200             0.01
2024-11-28 00:00:00-03:00 57.90 58.80 57.27  57.53  20467000            -0.01
2024-11-29 00:00:00-03:00 58.25 59.21 58.15  58.78  31015300             0.02

[252 rows x 6 columns]

### Visualizando o dataset antes de tratar outliers e excluir colunas

In [14]:
df.head(3) # Exibindo as 3 primeiras linhas do dataset

                           Open  High   Low  Close    Volume  Daily Variation
Date
2023-11-30 00:00:00-03:00 68.34 68.74 68.08  68.20  29712900             0.01
2023-12-01 00:00:00-03:00 69.01 69.70 68.72  69.46  25025200             0.02
2023-12-04 00:00:00-03:00 68.56 68.80 67.45  67.90  22402300            -0.02

### Tratando as colunas com valores outliers
- N/A

### Salvando o dataset lean

In [15]:
df.to_csv(consts.DATASET_LEAN, index=True) # Salvando o dataset lean

### Gerando um novo relatório Profile Report

In [ ]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_1) # Salvando o profile report na pasta reports em formato html