# 04. Data Processing

### Importando as bibliotecas

In [1]:
import sys
import warnings
sys.path.append('..')
import pandas as pd
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import functions.fn_charts as fn_charts
import params.consts as consts

### Ignorando os warnings irrelevantes

Ignorando os warnings indevidos que apareceram devido a cópia de dataframes para fazer ajustes nos dados. 

Obs: na primeira vez que fiz o projeto não houve esses avisos não, mas agora melhorando alguns pontos apareceu do nada. Tentei retirar mas continua dando esses avisos.

In [2]:
warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning) # Ignorando os warnings do tipo SettingWithCopyWarning

### Armazenando o dataset em uma variável

In [3]:
df = pd.read_csv(consts.DATASET_RAW, parse_dates=True, index_col='Date') # Armazenando o dataset em uma variável

### Excluindo as colunas que contém valores únicos
- N/A

### Excluindo as colunas que contém valores constantes

In [4]:
df = df.drop([
    'Stock Splits',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas

### Excluindo as colunas que contém valores vazios
- N/A

### Excluindo as colunas que contém muitos valores vazios
- N/A

### Excluindo as colunas que contém informações redundantes
- N/A

### Excluindo as colunas que contém informações irrelevantes

In [5]:
df = df.drop([
    'Dividends',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas

### Excluindo as colunas que contém textos livres
- N/A

### Lendo o dataset tratado e visualizando o overview atual

In [6]:
pd.options.display.float_format = '{:.2f}'.format # Formatando os dados do dataset com 2 casas decimais

In [7]:
df # Exibindo o dataset

                            Open   High    Low  Close    Volume
Date
2023-11-27 00:00:00-05:00 188.99 189.74 187.98 188.86  40552600
2023-11-28 00:00:00-05:00 188.85 190.15 188.48 189.47  38415400
2023-11-29 00:00:00-05:00 189.97 191.15 188.05 188.45  43014200
2023-11-30 00:00:00-05:00 188.91 189.39 187.27 189.02  48794400
2023-12-01 00:00:00-05:00 189.40 190.63 188.31 190.31  45679300
...                          ...    ...    ...    ...       ...
2024-11-19 00:00:00-05:00 226.98 230.16 226.66 228.28  36211800
2024-11-20 00:00:00-05:00 228.06 229.93 225.89 229.00  35169600
2024-11-21 00:00:00-05:00 228.88 230.16 225.71 228.52  42108300
2024-11-22 00:00:00-05:00 228.06 230.72 228.06 229.87  38153300
2024-11-25 00:00:00-05:00 231.46 233.24 229.77 229.77  17970087

[252 rows x 5 columns]

In [8]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(252, 5)

In [9]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 2023-11-27 00:00:00-05:00 to 2024-11-25 00:00:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    252 non-null    float64
 1   High    252 non-null    float64
 2   Low     252 non-null    float64
 3   Close   252 non-null    float64
 4   Volume  252 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.8+ KB

In [10]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

        Open   High    Low  Close       Volume
count 252.00 252.00 252.00 252.00       252.00
mean  201.38 203.20 199.65 201.52  57426744.79
std    22.07  22.30  21.76  22.11  30421876.56
min   164.75 165.80 163.49 164.41  17970087.00
25%   182.99 184.60 181.68 183.45  42130350.00
50%   194.37 196.02 193.29 194.14  50135550.00
75%   224.32 226.03 222.53 224.24  63729825.00
max   235.95 237.23 234.19 236.22 318679900.00

In [11]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

### Corrigindo os tipos de dados das colunas
- N/A

### Criando colunas de tempo/idade
- N/A

### Mesclando colunas com muitas categorias
- N/A

### Unificando colunas semelhantes
- N/A

### Criando colunas derivadas de outras

In [ ]:
retorno_diario = df['Close'].pct_change().dropna() # Criando um dataset com as variações diárias

retorno_diario.head() # Exibindo o dataset criado

Date
2023-11-28 00:00:00-05:00    0.00
2023-11-29 00:00:00-05:00   -0.01
2023-11-30 00:00:00-05:00    0.00
2023-12-01 00:00:00-05:00    0.01
2023-12-04 00:00:00-05:00   -0.01
Name: Close, dtype: float64

In [ ]:
df = pd.merge(df, retorno_diario, how='inner', on='Date') # Unificando o dataset original com o dataset com as variações diárias

df.columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'Daily Variation'] # Ajustando os nomes das colunas

df # Exibindo o dataset atualizado

,Open,High,Low,Close,Volume,Daily Variation
Date,,,,,,
2023-11-28 00:00:00-05:00,188.85,190.15,188.48,189.47,38415400,0.00
2023-11-29 00:00:00-05:00,189.97,191.15,188.05,188.45,43014200,-0.01
2023-11-30 00:00:00-05:00,188.91,189.39,187.27,189.02,48794400,0.00
2023-12-01 00:00:00-05:00,189.40,190.63,188.31,190.31,45679300,0.01
2023-12-04 00:00:00-05:00,189.05,189.12,186.54,188.51,43389500,-0.01
...,...,...,...,...,...,...
2024-11-19 00:00:00-05:00,226.98,230.16,226.66,228.28,36211800,0.00
2024-11-20 00:00:00-05:00,228.06,229.93,225.89,229.00,35169600,0.00
2024-11-21 00:00:00-05:00,228.88,230.16,225.71,228.52,42108300,-0.00
2024-11-22 00:00:00-05:00,228.06,230.72,228.06,229.87,38153300,0.01
2024-11-25 00:00:00-05:00,231.46,233.24,229.77,229.77,17970087,-0.00

### Visualizando o dataset antes de tratar outliers e excluir colunas

In [17]:
df.head(3) # Exibindo as 3 primeiras linhas do dataset

,Open,High,Low,Close,Volume,Daily Variation
Date,,,,,,
2023-11-28 00:00:00-05:00,188.85,190.15,188.48,189.47,38415400,0.00
2023-11-29 00:00:00-05:00,189.97,191.15,188.05,188.45,43014200,-0.01
2023-11-30 00:00:00-05:00,188.91,189.39,187.27,189.02,48794400,0.00

### Tratando as colunas com valores outliers
- N/A

### Salvando o dataset lean

In [18]:
df.to_csv(consts.DATASET_LEAN, index=False) # Salvando o dataset lean

### Gerando um novo relatório Profile Report

In [19]:
profile = ProfileReport(df) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_1) # Salvando o profile report na pasta reports em formato html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]